<!DOCTYPE html>
<!-- Royal Tutorials -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashlight Login</title>
    <link rel="stylesheet" href="../../static/login/style.css">
</head>
<body>
    <div class="container">
        <div class="box" style="--clr:#0ff;"></div>
        <div class="box" style="--clr:#f00;"></div>
        <div class="box" style="--clr:#0f0;"></div>
        <div class="box" style="--clr:#f0f;"></div>
        <div class="box" style="--clr:#00f;"></div>
        <div class="box" style="--clr:#0ff;"></div>
        <div class="box" style="--clr:#f00;"></div>
        <div class="box" style="--clr:#0f0;"></div>
        <div class="box" style="--clr:#f0f;"></div>
        <div class="box" style="--clr:#00f;"></div>
        <div class="box" style="--clr:#0ff;"></div>
        <div class="box" style="--clr:#f00;"></div>
    </div>
    <form method="post" action="/register" class="login">
        <h2>Register</h2>
        <div class="inputBox">
            <input type="text" name="username" required>
            <span>Username</span>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required>
            <span>Password</span>
        </div>
        <div class="inputBox">
            <input type="submit" value="Sign Up">
        </div>
    </form>
    <script>
        let boxes = document.querySelectorAll('.box');
        boxes.forEach(box => {
            box.onmousemove = function (e) {
                let x = e.pageX - box.offsetLeft;
                let y = e.pageY - box.offsetTop;

                box.style.setProperty('--x', x + 'px');
                box.style.setProperty('--y', y + 'px');
            }
        })
    </script>
</body>
</html>